.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(116, 16, 12);
}

.available {
    background-color: rgb(115, 125, 46);
}

.list {
    list-style-type: square;
    padding: 20;
    margin: 20;
    font-size: large;
    background-color: rgb(228, 151, 216);
    width: 100%;
}



.product {
    background-color: rgb(32, 139, 227);
    width: 15%;
    border: 10px solid black;
    padding: 20px;

}

.prod {
    width: 100%;
    background-color: rgb(160, 16, 164);
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(20%/3);
    row-gap: 30px;
    padding: 5%;
}