<!DOCTYPE html>
<html lang="en">

<head>
  <title>Angular Demo App</title>
  <base href="/" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <!-- string interpolation, text binding, {{handle bar}} -->
  <h1>Welcome {{name}}!!!</h1>

  <div class="product">
    <h1>{{product.name}}</h1>
    <h2>Price: {{product.price}}</h2>
    <h2>Quantity: {{product.quantity}}</h2>

    <!-- Conditional Rendering -->
    @if(isAvailable){
    <h2>Available</h2>
    }
    @else{
    <h2>Not Available</h2>
    }
  </div>

  <!-- Loop Rendering -->

  <div class="prod">@for(prod of products;
    track prod.id)
    {
    <!-- track $index can also be written instead of track prod.id-->
    <div class="product">
      <!-- <h2>Index {{$index}}</h2>  By default index is available -->
      <!-- <h2>Even {{$even}}</h2>  By default even is available -->
      <!-- <h2>Odd {{$odd}}</h2>  By default odd is available -->
      <h2>Name: {{prod.name}}</h2>
      <!-- Pipe currency with parameter is used -->
      <h2>Price: {{prod.price | currency:'INR'}}</h2>
      <h2>Quantity: {{prod.quantity}}</h2>
      <!-- Conditional and loop rendering combined -->
      @if(prod.quantity==0)
      {<p>🥴 Sold</p>
      }
      <!-- property binding -->
      <button [disabled]="prod.quantity==0">Add to Cart</button>
    </div>
    }
  </div>


  <!-- property binding -->
  <img [src]="imageurl" height="500px" width="500px" id="image">

  <!-- Event binding -->
  <div class="button">
    <button (click)="printButton()">Click Me</button>
  </div>
  <br /><br />
  <!-- class binding -->
  <table>
    <tr>
      <td>
        <div class="circle" [class.available]="isAvailable">
        </div>
      </td>
      <td></td>
      <td>
        <div class="circle" [class.available]="isNotAvailable">
        </div>
      </td>
    </tr>

  </table>

  <br /><br />

  <!-- Category Component called here -->
  <!-- Passing values from parent to child components -->
  <!-- <app-category [cname]="Category"></app-category>
  
  <app-about></app-about>
  <app-services></app-services> -->

  <h1>Routing Demo</h1>
  <ul class="list">
    <li><a routerLink="/category/1">Category</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
  </ul>

  <router-outlet></router-outlet>
  <app-template-example></app-template-example>




</body>

</html>