.services {
    width: 100%;
    background-color: rgb(209, 16, 103);
    padding: 20px 20px 20px 20px;
    border: 10px solid black;
}

.formStyle {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
    background-color: bisque;
    padding: 20px;
    margin: 10px;
}

p {
    color: red;
}